body {
  padding: 0;
}

.flex {
  display: flex;
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.f-center {
  align-items: center;
  justify-content: center;
}

.f-ai-center {
  align-items: center;
}

.f-jc-center {
  justify-content: center;
}

